.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__wnvFg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  transition-property: all;
  transition-duration: 1s;
  background: #ffffff;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 64px;
}
.freeBox__bgJu {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  outline-color: #5faa04;
  background: #039d3e;
  min-width: 0;
  padding: 16px;
}
.freeBox__bgJu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bgJu > :global(.__wab_flex-container) > *,
.freeBox__bgJu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bgJu > :global(.__wab_flex-container) > picture > img,
.freeBox__bgJu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bgJu {
    padding: 32px;
  }
}
.card__jCOk:global(.__wab_instance) {
  max-width: 100%;
  width: 291px;
  height: 70px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.img__wDYy {
  object-fit: cover;
  max-width: 100%;
  height: 53px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 7px;
  width: 216px;
}
.img__wDYy > picture > img {
  object-fit: cover;
}
.freeBox__qpSj {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  outline-color: #0da022;
  min-width: 0;
}
.freeBox__qpSj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__qpSj > :global(.__wab_flex-container) > *,
.freeBox__qpSj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qpSj > :global(.__wab_flex-container) > picture > img,
.freeBox__qpSj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qpSj {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qpSj > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qpSj > :global(.__wab_flex-container) > *,
  .freeBox__qpSj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qpSj > :global(.__wab_flex-container) > picture > img,
  .freeBox__qpSj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__lxU8A {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__fiTue {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fiTue > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fiTue > :global(.__wab_flex-container) > *,
.freeBox__fiTue > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fiTue > :global(.__wab_flex-container) > picture > img,
.freeBox__fiTue
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fiTue > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fiTue > :global(.__wab_flex-container) > *,
  .freeBox__fiTue > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fiTue > :global(.__wab_flex-container) > picture > img,
  .freeBox__fiTue
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__ana9I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___6Kt4C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hkRCz {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__my2Z8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__zIeE9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__eUhim {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qfr8 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__lmCC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__fbHlh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___2Vdh2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___398PE {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___0Uq0N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__nElWz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__huQiP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cXZx {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__tzRft {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__znOcB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__tQUxy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vzM9 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__hH0Ge {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__qT7N {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__ykHLb {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button__cjCon:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__u3QgH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__sBp9Z {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__x1PfB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___53Psr {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__fyVo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 90px;
  font-weight: 400;
  font-size: 20px;
  min-width: 0;
}
.freeBox___4QWdd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 34px;
  min-width: 0;
  padding: 8px;
}
.columns__bzg9R {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__bzg9R > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__bzg9R > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__bzg9R > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bzg9R {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bzg9R > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__n9Jfu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__f2SZc {
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
}
.column__wJrl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__rLjw7 {
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
}
.column__opqA3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__owZhc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jSgIh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__jvov {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__wqGw0 {
  position: relative;
  width: 1318px;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-right: 378px;
  padding-left: 408px;
}
.freeBox__ceWgA {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ybA8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #020202;
  text-align: center;
  font-weight: 800;
  min-width: 0;
}
.text__rkaEc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-right: 342px;
  padding-left: 398px;
  min-width: 0;
}
.text__cxYg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.button___0Fv5G:global(.__wab_instance) {
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  margin-top: 54px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg___3NJ9W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lLBeb {
  color: var(--token-jgohepLVeKvh);
}
.svg__t3I6H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hQzj {
  margin-left: 538px;
  margin-right: 497px;
  text-align: center;
}
.text___4I7Hu {
  font-weight: 800;
  font-size: 25px;
  padding-right: 0px;
}
.freeBox__oLk1V {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__bSlV {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__bSlV > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__bSlV > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__bSlV > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__bSlV > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bSlV {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bSlV > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8PwF2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__mppcG {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 374px;
  flex-shrink: 0;
}
.img__mppcG > picture > img {
  object-fit: cover;
}
.text___0PLUr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #070707;
  font-weight: 700;
  min-width: 0;
}
.text___2Fv1S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Bo2_tT25lwh4);
  min-width: 0;
}
.text__cmYpo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___6L4IM {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin: 0px 46px 8px 68px;
}
.column__bYabp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__keAtm {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 374px;
  flex-shrink: 0;
}
.img__keAtm > picture > img {
  object-fit: cover;
}
.text__z2Km5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #070707;
  font-weight: 700;
  padding-top: 0px;
  min-width: 0;
}
.text__ietgD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Bo2_tT25lwh4);
  min-width: 0;
}
.text__pXdY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dAcY {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin: 0px 46px 8px 68px;
}
.column__lFsU {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__dxowZ {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 374px;
  flex-shrink: 0;
}
.img__dxowZ > picture > img {
  object-fit: cover;
}
.text__vdw8S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #070707;
  font-weight: 700;
  padding-top: 0px;
  min-width: 0;
}
.text__whgng {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Bo2_tT25lwh4);
  min-width: 0;
}
.text__qkun2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kEb1Q {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin: 0px 46px 8px 68px;
}
.column__sDn8A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__okKhM {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 374px;
  flex-shrink: 0;
}
.img__okKhM > picture > img {
  object-fit: cover;
}
.text__yRgJz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #070707;
  font-weight: 700;
  min-width: 0;
}
.text__or9Bn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Bo2_tT25lwh4);
  min-width: 0;
}
.text___3E75K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___8V2BV {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin: 0px 46px 8px 68px;
}
.text__uJuzY {
  font-weight: 800;
}
.columns__jI0FX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__jI0FX > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__jI0FX > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__jI0FX > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__jI0FX > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jI0FX {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jI0FX > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__c49Tc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__pt97X {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 374px;
  flex-shrink: 0;
}
.img__pt97X > picture > img {
  object-fit: cover;
}
.text__jWPyd {
  font-weight: 700;
  text-align: left;
  margin-right: 336px;
  padding-top: 10px;
  margin-left: 112px;
  padding-right: 0px;
}
.column__izXl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___3Uc0E {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 396px;
  margin-right: 0px;
  width: 452px;
  flex-shrink: 0;
}
.img___3Uc0E > picture > img {
  object-fit: cover;
}
.column___9OQdB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__j0Wqk {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 374px;
  flex-shrink: 0;
}
.img__j0Wqk > picture > img {
  object-fit: cover;
}
.column__bmC5Y {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__wN9H {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 374px;
  flex-shrink: 0;
}
.img__wN9H > picture > img {
  object-fit: cover;
}
.columns__mkger {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__mkger > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__mkger > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__mkger > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__mkger > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mkger {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mkger > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tVwvg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__xcgBx {
  object-fit: fill;
  max-width: 100%;
  margin-bottom: 0px;
  height: 374px;
  flex-shrink: 0;
}
.img__xcgBx > picture > img {
  object-fit: fill;
}
.text__cN7Vc {
  font-weight: 700;
  text-align: left;
  margin-right: 336px;
  padding-top: 10px;
  margin-left: 112px;
  padding-right: 0px;
}
.column__uu1Ab {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__wJjQh {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 396px;
  margin-right: 0px;
  width: 452px;
  flex-shrink: 0;
}
.img__wJjQh > picture > img {
  object-fit: cover;
}
.column___4LRhp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__znOyF {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 374px;
  flex-shrink: 0;
}
.img__znOyF > picture > img {
  object-fit: cover;
}
.column__hJ9Xf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__pg0Pj {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 374px;
  flex-shrink: 0;
}
.img__pg0Pj > picture > img {
  object-fit: cover;
}
.columns__uvGcr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__uvGcr > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__uvGcr > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__uvGcr > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__uvGcr > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uvGcr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uvGcr > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__cJGob {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__mnerr {
  object-fit: cover;
  max-width: 100%;
  height: 374px;
  object-position: center 50%;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__mnerr > picture > img {
  object-fit: cover;
  object-position: center 50%;
}
.column___0Alp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__xtD10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__tok9W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__mgQgH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__kJBpm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__kJBpm > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__kJBpm > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__kJBpm > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kJBpm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kJBpm > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__quqCz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ptn9F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 25px;
  min-width: 0;
}
.button___2ZDiM:global(.__wab_instance) {
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  width: 120px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: 0px 250px 0px 0px;
}
.svg__yDcat {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6Oil2 {
  color: #fffff7;
  text-align: left;
}
.svg__rgju {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wtgpS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  min-width: 0;
}
.text__b4Ml1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button___6FMf:global(.__wab_instance) {
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  width: 164px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: 0px 216px 0px 0px;
}
.svg__dvJ2U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cWmYs {
  color: #fffff7;
  text-align: left;
}
.svg__zH5CT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__zwAs2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column___0AUr9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  outline-color: #a08484;
  box-shadow: 0px 4px 16px 0px #a8161633;
  background: #d7d4d4;
  margin-bottom: 94px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 32px 0 54px;
}
.section > * {
  grid-column: 4;
}
.freeBox__mswJd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 512px;
  height: auto;
  max-width: 100%;
  background: #027d27;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 642px;
  padding: 0px 8px 8px;
}
.card__qWkoW:global(.__wab_instance) {
  max-width: 100%;
  width: 596px;
  height: 337px;
  margin-top: 67px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField__h5IoD:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__i2MTx:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__u0Pjw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__svk00 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.columns__uvrcy {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__uvrcy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__uvrcy > :global(.__wab_flex-container) > *,
.columns__uvrcy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__uvrcy > :global(.__wab_flex-container) > picture > img,
.columns__uvrcy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__uvrcy > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__uvrcy > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uvrcy {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uvrcy > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uvrcy > :global(.__wab_flex-container) > *,
  .columns__uvrcy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__uvrcy > :global(.__wab_flex-container) > picture > img,
  .columns__uvrcy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uvrcy > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rAnG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rAnG {
    width: 100%;
  }
}
.freeBox__kxh8P {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__kxh8P > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kxh8P > :global(.__wab_flex-container) > *,
.freeBox__kxh8P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kxh8P > :global(.__wab_flex-container) > picture > img,
.freeBox__kxh8P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__id0XI {
  position: relative;
  left: auto;
  top: auto;
  color: #050505;
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__nu8Q7:global(.__wab_instance) {
  position: relative;
}
.svg___1ZmN1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__usLwp {
  height: auto;
  color: #080809;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-left: 0px;
}
.svg__ppR3A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ujuDr:global(.__wab_instance) {
  position: relative;
}
.svg__tkqd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cPjaN {
  height: auto;
  color: #191a1c;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ugzU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__jXfS5:global(.__wab_instance) {
  position: relative;
}
.svg__cs4Bk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___03GPv {
  height: auto;
  color: #151516;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__teaOs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__sExL:global(.__wab_instance) {
  position: relative;
}
.svg__cd81 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qPei {
  height: auto;
  color: #0d0e0f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___60OGo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__emJc9:global(.__wab_instance) {
  position: relative;
}
.svg__k3RTx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jUwvA {
  height: auto;
  color: #171819;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__bmfG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___053Tv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___053Tv {
    width: 100%;
  }
}
.freeBox__tSyfx {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__tSyfx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tSyfx > :global(.__wab_flex-container) > *,
.freeBox__tSyfx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tSyfx > :global(.__wab_flex-container) > picture > img,
.freeBox__tSyfx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__and7 {
  position: relative;
  left: auto;
  top: auto;
  color: #050505;
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__vZxsr:global(.__wab_instance) {
  position: relative;
}
.svg___2LeE5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3KsjB {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__tWeZm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__uEJ:global(.__wab_instance) {
  position: relative;
}
.svg__reb4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__j2MX {
  color: #010101;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rhOeg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__tUqjH:global(.__wab_instance) {
  position: relative;
}
.svg___6KzYu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___8Ojgc {
  color: #0e0e0e;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__cKfhS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__qRcZg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #256d00;
  min-width: 0;
  padding: 8px;
}
.text__mon1R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  min-width: 0;
}
